@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Fredoka One', cursive;
    background-image: linear-gradient(to right, #0ccb8c, #37ADCD);
    color: #fff;
}

.container {
    width: 1280px;
    margin: auto;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    min-height: 70px;
    padding: 0 20px;
}

#header h2 {
    font-size: 2rem;
}

.user_input {
    margin-top: 2px;
    width: 350px;
    text-align: center;
}

.user_input input {
    width: 75%;
    outline: none;
    padding: 8px;
    border: 1px solid lightgray;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    transition: all 0.30s ease-in-out;
}

.user_input input:focus {
    box-shadow: 0 0 5px #0c8bfa;
    border: 1px solid #079bfe;
}

.user_input button {
    cursor: pointer;
    padding: 8px;
    width: fit-content;
    color: black;
    transition: 1s;
    outline: none;
    background-color: lightgray;
    border: 1px solid lightgray;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.user-input button:hover {
    background-color: transparent;
    color: white;
}

#to_do_list {
    width: 500px;
    margin: auto;
}

.item {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
    border-radius: 2px;
    padding: 1rem;
    color: #454545;
    margin-top: 10px;
    font-size: 1rem;
    background-color: white;
    border: 1px solid lightgray;
    text-transform: uppercase;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    transition: all 0.30s ease-in-out;
}

.item:hover {
    box-shadow: 0 0 20px #0763dd;
    border: 1px solid #0a44f1;
}

.item i {
    cursor: pointer;
    margin: 0 5px;
}

footer {
    background: #111;
    padding: 15px 23px;
    color: #fff;
    text-align: center;
    margin: 0 auto;
}

footer span a {
    color: rgb(2, 2, 2);
    text-decoration: none;
}

footer span a:hover {
    text-decoration: underline;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-instagram {
    background: #f707cb;
    color: white;
}

.fa-linkedin {
    background: #0659b8;
    color: white;
}

.fa-github {
    background: #000601;
    color: white;
}


/* responsive media query start */

@media (max-width: 1104px) {
    .about .about-content .left img {
        height: 350px;
        width: 350px;
    }
}

@media (max-width: 991px) {
    .max-width {
        padding: 0 50px;
    }
}

@media (max-width: 947px) {
    .menu-btn {
        display: block;
        z-index: 999;
    }
    .menu-btn i.active:before {
        content: "\f00d";
    }
    .navbar .menu {
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: #111;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    .navbar .menu.active {
        left: 0;
    }
    .navbar .menu li {
        display: block;
    }
    .navbar .menu li a {
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    .home .home-content .text-2 {
        font-size: 70px;
    }
    .home .home-content .text-3 {
        font-size: 35px;
    }
    .home .home-content a {
        font-size: 23px;
        padding: 10px 30px;
    }
    .max-width {
        max-width: 930px;
    }
    .about .about-content .column {
        width: 100%;
    }
    .about .about-content .left {
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .about .about-content .right {
        flex: 100%;
    }
    .services .serv-content .card {
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }
    .education .education-content .column,
    .contact .contact-content .column {
        width: 100%;
        margin-bottom: 35px;
    }
}

@media (max-width: 690px) {
    .max-width {
        padding: 0 23px;
    }
    .home .home-content .text-2 {
        font-size: 60px;
    }
    .home .home-content .text-3 {
        font-size: 32px;
    }
    .home .home-content a {
        font-size: 20px;
    }
    .certificates .certificates-content .card {
        width: 100%;
    }
}

@media (max-width: 500px) {
    .home .home-content .text-2 {
        font-size: 50px;
    }
    .home .home-content .text-3 {
        font-size: 27px;
    }
    .about .about-content .right .text,
    .education .education-content .left .text {
        font-size: 19px;
    }
    .contact .right form .fields {
        flex-direction: column;
    }
    .contact .right form .name,
    .contact .right form .email {
        margin: 0;
    }
    .right form .error-box {
        width: 150px;
    }
    .scroll-up-btn {
        right: 15px;
        bottom: 15px;
        height: 38px;
        width: 35px;
        font-size: 23px;
        line-height: 38px;
    }
}

@media(max-width:1280px) {
    .container {
        width: 100%;
    }
}

@media(max-width:768px) {
    .container {
        width: 95%;
    }
    #header {
        padding: 20px;
        gap: 10px;
        align-items: center;
        flex-direction: column;
    }
    #header h2 {
        margin: 10px 0;
    }
    .user_input {
        width: 100%;
    }
    #to_do_list {
        width: 100%;
    }
}

@media(max-width:480px) {
    .user_input input {
        width: 74%;
    }
}

@media(max-width:320px) {
    .user_input input {
        width: 60%;
    }
}